/.idea/vcs.xml
/.idea/weather_app.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
/weather_api/db.sqlite3
