{% extends "base.html" %}
{% load static %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'main_api/main_page/main_page.css' %}">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
{% endblock %}

{% block content %}
<div>
  <h1>Choose city</h1>
</div>
<div>
  {% for city in cities %}
  <div id={{ city.id }} class="weather-card"
       style="background-image: url('{{ city.city_image.url }}');" onclick="to_city_stats(this.id)">
    <h2>{{country.name}}</h2>
  </div>
{% endfor %}
</div>
<script src="{% static 'main_api/cities_page/js/to_city_statistics.js' %}"></script>
{% endblock %}