button {
  background-color: white;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Pacifico';
  font-size: 25px;
  font-weight: 100;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

    body {
      font-family: Arial, sans-serif;
      background-image: url("images/background.png");
      background-size: cover;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      font-family: 'Pacifico';
      font-size: 30px;
    }

    .weather-card {
      border-radius: 8px;
      border: solid;
      border-width: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      width: 200px; /* Adjust the width as needed */
      margin: 10px;
      background-size: cover;
      color: black;
      font-weight: 100;
      font-size: 17px;
      transition: transform 0.3s ease-out;
      position: relative;
    }

    .weather-card:hover {
      transform: translateY(-20px);
    }

    h2 {
      margin-top: 0;
    }

    .weather-info p {
      margin: 0;
    }


